
body{
    font-family:Alegreya-Italic-VariableFont_wght;
}
.home{
    position: relative;
   background-image: url(../image/drew-coffman-1872.jpg);
   background-size: 100% 100%;
    height: 100vh;
}
.nav-item:hover{
    color: black !important;
    font-weight: bold;
}
h1{
    font-size: 4rem !important;
}
.home-contact{
    font-family:Alegreya-Italic-VariableFont_wght;
}
.home-contact{
    font-size: 1.5rem;
}
.transparent{
    padding: 10px 30px;
    border: 1px solid white;
}
.brone{
    border: 1px solid none;
    background-color:#977A5E;
    padding: 10px 30px;
}
.btn:hover{
    background-color: white;
    color: black !important;
}
.layer-home{
    background-color: rgba(0, 0, 0, 0.26);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.icon-mous{
    width: 30px;
    height: 50px;
    border: 1px solid white;
   position: absolute;
   left: 50%;
   bottom: 8%;
}
.contact-about h2{
    font-size: 30px;
    color: rgba(0, 0, 0, 0.8);
}
.fontes{
    width: 40px;
    height: 40px;
    border:2px solid rgba(0, 0, 0, 0.271);
    border-radius: 50%;
}
.color{
    color: #8E7754;
}
